DB_HOST="localhost"
DB_PORT="5860"
DB_USER="meubolso_meu_bolso"
DB_PASSWORD="docker"
DB_NAME="meubolso_meu_bolso_db"
DATABASE_URL="postgresql://meubolso_meu_bolso:docker@localhost:5860/meubolso_meu_bolso_db?schema=public"
PORT="4000"
JWT_SECRET=""
JWT_EXPIRES_IN="1d"
